@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Oi&family=Rubik+Spray+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Caveat", cursive;
}

body {
    min-height: 100vh;

    background: #ffd6df;

    position: relative;

    margin: 0;
}

body::before {
    content: "";

    position: fixed;

    inset: 0;

    background-image: url("./image/strawberry.png");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    opacity: 0.35;

    z-index: -1;
}

.container {
    width: 600px;

    margin: 30px auto;

    background: rgba(255, 239, 243, 0.95) ;

    padding: 30px;

    border-radius: 25px;

    border: 4px solid #ff7f9f;

    box-shadow:
        0 8px 20px rgba(190, 40, 70, 0.25);
}

/* TÍTULO */
h1 {
    margin-bottom: 25px;
    text-align: center;
    font-family: "Oi", serif;
    color: #e63956;
    font-size: 28px;
    padding: 10px;
    text-shadow:
        2px 2px 0px #fff,
        4px 4px 0px #ffb3c1;
}

/* FORMULÁRIO */
.formulario {
    display: flex;

    gap: 10px;

    margin-bottom: 20px;
}

/* INPUT */
.formulario input {
    flex: 1;

    padding: 13px 16px;

    border: 3px solid #ff9eb5;

    border-radius: 15px;

    outline: none;

    background: #fffafa;

    color: #9e2945;

    font-size: 20px;

    transition: 0.2s;
}

.formulario input:focus {
    border-color: #e63956;

    box-shadow:
        0 0 8px rgba(230, 57, 86, 0.3);
}

.formulario input::placeholder {
    color: #d88a9c;
}

/* BOTÕES */
button {
    padding: 12px 18px;

    border: none;

    border-radius: 15px;

    cursor: pointer;

    font-size: 18px;

    background: #e63956;

    color: white;

    box-shadow:
        0 4px 8px rgba(190, 40, 70, 0.25);

    transition: 0.2s;
}

button:hover {
    background: #c92545;

    transform: translateY(-2px);

    box-shadow:
        0 6px 12px rgba(190, 40, 70, 0.3);
}

/* LISTA */
.lista {
    list-style: none;
}

/* ITEM DA TAREFA */
.item {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 14px;

    background: #fff;

    border: 2px solid #ffb3c1;

    border-radius: 15px;

    margin-bottom: 10px;

    color: #8f2942;

    font-size: 20px;

    box-shadow:
        0 3px 8px rgba(190, 40, 70, 0.12);
}

/* BOTÕES DAS AÇÕES */
.acoes {
    display: flex;

    gap: 8px;
}

.acoes button {
    font-size: 16px;

    padding: 8px 12px;
}

/* TAREFA CONCLUÍDA */
.concluida {
    text-decoration: line-through;

    color: #5b9b58;
}

/* NENHUMA TAREFA */
.vazio {
    text-align: center;

    color: #c73855;

    margin-top: 20px;

    font-size: 22px;
}

/* TEXTO DIGITADO */
.digitado {
    text-align: center;

    color: #c73855;

    margin-top: 10px;

    margin-bottom: 10px;

    font-size: 20px;
}

/* BOTÃO LIMPAR */
.container>button {
    display: block;
    margin: 20px auto 0;
    background: #78a957;
}

.container>button:hover {
    background: #5e8d42;
}

/* CELULAR */
@media (max-width: 650px) {

    body {
        align-items: flex-start;
    }

    .container {
        width: 90%;

        margin: 20px auto;

        padding: 20px;
    }

    h1 {
        font-size: 28px;
    }

    .formulario {
        flex-direction: column;
    }

    .formulario button {
        width: 100%;
    }
}

.pagina {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.header {
    width: 100%;

    margin: 0;
    padding: 18px 20px;

    text-align: center;

    color: #e63956;

    background: rgba(255, 239, 243, 0.90);
    /* opacity: 0.95%; */

    box-shadow:
        0 4px 10px rgba(190, 40, 70, 0.20);

    border-bottom: 3px solid #ff9eb5;
}

.header h1 {
    margin: 0;

    padding: 5px;

    font-family: "Oi", serif;

    font-size: 28px;

    color: #e63956;

    text-shadow:
        2px 2px 0px #fff,
        4px 4px 0px #8d142a;
}

.footer {
    width: 100%;

    text-align: center;

    padding: 20px;

    margin-top: 20px;

    color: #c73855;

    font-size: 20px;
    background: rgba(255, 239, 243, 0.95 ); 
   /* opacity: 0.95%; */
    box-shadow: 0 -4px 8px rgba(190, 40, 70, 0.25);

}
.botaoConcluir {
    background: #78a957;
}

.botaoConcluir:hover {
    background: #5e8d42;
}

.botaoDesfazer {
    background: #e63956;
}

.botaoDesfazer:hover {
    background: #c92545;
}